#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {

   
    font-size: 14px;

    margin: 0;
    padding: 0;
  }
  
  .swip {
    width: 100%;
    height: 100%;
    background: transparent;
  }
  
  .swip .swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swip .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  